<div class="general-block-decorator">
    <div class="title title-without-tabs">
        {intl l="Configure Store" d="betterseo.bo.default"}
    </div>

    <div class="row">
        <div class="col-md-12">
            {if $success|default:false}
                <div class="alert alert-success">
                    {intl l="Configuration correctly saved" d="betterseo.bo.default"}
                </div>
            {/if}

            <div class="form-container">
                {form name='betterseo_store_form_config'}
                <form method="post" action="{url path='/admin/module/BetterSeo/configuration/store'}">

                    {form_hidden_fields form=$form}

                    {render_form_field field="success_url" value={navigate to='current'}}
                    {render_form_field field="error_url" value={navigate to='current'}}

                    {include "includes/inner-form-toolbar.html" close_url={url path='/admin/modules'}}
                    <br/>


                    {render_form_field field='title'}
                    {render_form_field field='description'}
                    {render_form_field field='keywords'}


                </form>
                {/form}
            </div>
        </div>
    </div>
</div>

<div class="general-block-decorator">
    <div class="row">
        <div class="col-md-12">
            <div class="title">
                {intl l="Better Seo configuration" d='betterseo.bo.default'}
            </div>

            {form name="betterseo_category_form_config"}
                <form method="post" action="{url path='/admin/module/BetterSeo/configuration/category'}" {form_enctype form=$form}>
                    {form_hidden_fields form=$form}

                    {render_form_field field="success_url" value={navigate to='current'}}
                    {render_form_field field="error_url" value={navigate to='current'}}

                    {if $form_error}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-danger">{$form_error_message}</div>
                            </div>
                        </div>
                    {/if}

                    {render_form_field field='category_limit'}

                    <br>
                    <button type="submit" class="btn btn-success" >{intl l="Save" d="betterseo.bo.default"}</button>
                </form>
            {/form}
        </div>
    </div>
</div>
