{loop type="better_seo_loop" name="better_seo_meta_loop" object_id=$object_id object_type=$object_type lang_id=$lang_id}
    {if $NOINDEX == 1 and $NOFOLLOW == 1}
        <meta name="robots" content="noindex, nofollow">
    {elseif $NOINDEX == 1}
        <meta name="robots" content="noindex, follow">
    {elseif $NOFOLLOW == 1}
        <meta name="robots" content="nofollow">
    {/if}

    {if $CANONICAL}
        <link rel="canonical" href="{url path="$CANONICAL"}" />
    {/if}

    {if $JSON_DATA}
        <script type="application/ld+json">
        {$JSON_DATA nofilter}
        </script>
    {/if}
{/loop}